<%= render :partial => "partials/navigation_logged_in" %>

<%=yield %>

<h4>NEW RECIPE FORM</h4>

<div class = "myRecipeFridgeContainer">

  <div class="fridgeClosed">
    <div class = "noteBox">
    <div class = "writtenRecipes">
      <% @user.recipes.each do |recipe| %>
        <div class = "recipeFridgeNote">
          •  <%= recipe.name %></br>
        </div>
      <% end %>
    </div>

    </div>
  </div>
</div>


<div class = "formContainer">
<%= render "form" %>
</div>

