<html>
  <header>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "assets/stylesheets/header" %>
  </header>

<ul>
  <li><%= link_to "SIGN UP", new_user_path, :method => :get, :class => "navBar" %>
  </li>
  <li><%= link_to "LOG IN", new_session_path, :class => "navBar" %></li>
</ul>
<h6>
  When Your Fridge Gives You Lemons, Make...
</h6>
</html>
