<%= render :partial => "partials/navigation_logged_in" %>
<h3><%= @user.my_fridge.upcase%></h3>
  <div class="fridge">

      <% @user.ingredients.each do |ingredient| %>

        <%= image_tag ingredient.ingredient_image_url, :class=>
        "fridgeIngredients" %>
        <div class = "ingredientLabel">
          <%= ingredient.name %>
        </div>

      <% end %>
  </div>
