/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#welcomeLogo {
  height: 177px;
  position: absolute;
  margin: auto;
  padding: 130px 0px 0px 328px;
}

a {
  color: grey;
}

.myProfile {
  height: 100%;
  width: 582px;
  padding-top: 65px;
  background-image: url("http://img08.deviantart.net/65ae/i/2012/184/5/9/cork_02_by_purpledragon42_stock-d55wkf5.jpg");
  background-size: 600px 500px;
  margin-left: 343px;
  padding-left:19px;
  padding-top: 12px;
  padding-bottom: 20px;
  border-radius: 15px;
  color: white;
  font-family: 'Cedarville Cursive', cursive;
}

h5 {
  font-size: 40px;
}
#tack {
  height: 20px;
  width: 20px;
}

#whatsForDinner {
  position:absolute;
/*  background-color: #ff5050;*/
  background-color: orange;
  height: 50px;
  height: 50px;
  width: 132px;
  color: white;
  top: 600px;
  left: 150px;
  border-radius: 24px;
  box-shadow: 3px;
  text-shadow: none;
  font-family: 'Coming Soon', cursive;
}

.searchBar {
  width: 600px;
  height: 40px;
  position: relative;
  left: 474px;
  top: 66px;
  font-family: 'Coming Soon', cursive;
}
.searchButton {
  width: 103px;
  height: 27px;
  border-radius: 6px;
  background-color: #3399ff;
  color: white;
  font-family: 'Coming Soon', cursive;
  font-size: 10px;
}

.editFridgeContainer {
  height: 500px;
  width: 300px;
  position:absolute;
  left: 60px;
  top: 60px;
}

h3 {
  color: maroon;
  text-align: center;
  padding-top: 20px;
}

body {
  background-color: #92DCE0;
  color: white;
  font-family: Verdana;
}

.fridge {
  height: 450px;
  width: 250px;
  font-size: 10px;
  float: left;
  background-image: url("/assets/red_refrigerator_empty.jpg");
  background-size: 248px 449px;
  border-radius: 9px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 30px;
}


/*  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
/*  display: -webkit-flex;*/
/*  -webkit-flex-wrap: wrap;*/

.recipeContainer {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding-top: 65px;
  background-image: url("http://img08.deviantart.net/65ae/i/2012/184/5/9/cork_02_by_purpledragon42_stock-d55wkf5.jpg");
  background-size: 600px 500px;
  margin-left: 413px;
  padding-left:19px;
  border-radius: 15px;

}

.recipeImage {
  height: 90px;
  width: 100px;
  border-radius: 3px;
}

.recipeBox {
  height: 300px;
  width: 200px;
  font-family: 'Coming Soon', cursive;
  font-color: black;
  border: 1px solid black;
  background-image: url("http://3.bp.blogspot.com/-_joYyrMvGpY/Trr0iJpytcI/AAAAAAAAA2M/n_HnGXgZnto/s1600/blank-polaroid-frame.jpg");
  background-size: 200px 300px;
  margin: 20px;
}

/*black portion of photo */
.recipeShow {
  height: 214px;
  width: 147px;
  margin: 25px 0px 0px 25px;
  text-align: -webkit-center;
}
/*comment at bottom of Recipe on AllRecipes*/
.firstComment {
  color: red;
  font-family: 'Coming Soon', cursive;
  font-size: 10px;
  height: 30px;
  width: 100px;

  margin-top: 25px;
}

.editFridgeContainer {
  margin: 0 auto;
  padding-top: 10px;
}

.fridgeIngredientImage {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  margin: 3px auto;
}

.fridgeIngredients {
  height: 61px;
  width: 62px;
  margin: 24px 0px 0px 7px;
  padding-left: 9px;
}

.ingredientLabel {
  clear: both;
  border: 2px solid grey;
  border-radius: 2px;
  text-align: center;
  color: black;
  background-color: yellow;
  margin-top: -15px;
  font-family: 'Coming Soon', cursive;
}

#profilePic {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 50px;
    max-height: 50px;
    border: 1px solid black;
    background-color: white;
}




